<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Recipe</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"></script>

</head>
<!--/*@thymesVar id="recipe" type="guru.springframework.commands.RecipeCommand"*/-->
<!--/*@thymesVar id="categoryList" type="java.util.List<guru.springframework.commands.CategoryCommand>"*/-->
<!--/*@thymesVar id="category" type="guru.springframework.commands.CategoryCommand"*/-->
<body>
<div class="container-fluid" style="margin-top: 20px;">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <!-- th:object="${recipe}" is necessary for th:if or #fields.hasEroors etc-->
            <form th:object="${recipe}" th:action="@{/recipe/}" method="post">

                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <p>Please Correct Errors Below</p>
                    <ul>
                        <li th:each="err : ${#fields.allDetailedErrors()}" th:text="${err.getFieldName()} + ':' + ${err.getCode()} + ':' + ${err.getMessage()}"></li>
                    </ul>
                </div>

                <!--th:field="*{id}"-->
                <input type="hidden" th:id="id" th:name="id" th:value="${recipe.id}" />
                <div class="panel-group">
                    <div class="card card-primary card-inverse">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-9">
                                    <h1 class="card-title">Edit Recipe Informatin</h1>
                                </div>
                                <div th:class="col-md-3">
                                    <a class="btn btn-primary" href="#"
                                       th:href="@{'/recipe/' + ${recipe.id} + '/image'}" role="button">Change Image</a>
                                </div>
                            </div>
                        </div>
                        <dvi class="card-body">
                            <div class="row">
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors()} and ${#fields.hasErrors('description')} ? 'col-md-3 form-group alert-warning' : 'col-md-3 form-group'">
                                    <label th:text="#{recipe.description}">Recipe Description:</label>
                                    <!--th:field="*{description}"-->
                                    <input th:type="text" class="form-control" th:id="description" th:name="description" th:value="${recipe.description}" />
                                    <span class="help-block" th:if="${#fields.hasErrors()} and ${#fields.hasErrors('description')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('description')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Categories:</label>
                                </div>
                                <div class="col-md-3 form-group" >
                                    <div class="radio" th:remove="all">
                                        <label>
                                            <input type="checkbox" value=""/>
                                            Cat 1
                                        </label>
                                    </div>
                                    <div class="radio" th:remove="all">
                                        <label>
                                            <input type="checkbox" value=""/>
                                            Cat 2
                                        </label>
                                    </div>
                                    <div class="radio" >

                                        <ul style="list-style: none;" th:unless="${#lists.isEmpty(categoryList)}">
                                            <li th:each="category, idx : ${categoryList}">
                                                <input type="hidden" th:id="categories__${idx.index}__.id" th:name="recipe.categories[__${idx.index}__].id" th:value="${category.id}"/>
                                                <input type="checkbox" th:checked="${#lists.contains(recipe.categories, category)}"
                                                       th:id="categories__${idx.index}__.description" th:name="categories[__${idx.index}__].description" th:value="${category.description}"/>
                                                <label th:text="${category.description}"></label>
                                            </li>
                                        </ul>

                                        <p th:text="${recipe.categories.clear()}" th:remove="all"></p>
                                        <p th:text="${recipe.categories.addAll(categoryList)}" th:remove="all"></p>

                                        <span class="help-block" th:if="${#fields.hasErrors('*')} and ${#fields.hasErrors('categories')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('categories')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                        <ul style="list-style: none;" th:if="${#lists.isEmpty(categoryList)}">
                                            <li>
                                                <input type="checkbox" checked="" value=""/>
                                                <label>TODO Cat1</label>
                                            </li>
                                            <li>
                                                <input type="checkbox" checked="" value=""/>
                                                <label>TODO Cat2</label>
                                            </li>
                                        </ul>

                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <img src="../../static/images/guacamole400x400WithX.jpg"
                                         th:src="@{'/recipe/' + ${recipe.id} + '/recipeimage'}"
                                         th:id="image" th:name="image" th:value="*{image}"
                                         width="200" height="200"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors()} and ${#fields.hasErrors('prepTime')} ? 'col-md-3 form-group alert-warning' : 'col-md-3 form-group'">
                                    <label>Prep Time:</label>
                                    <!--th:field="*{prepTime}"-->
                                    <input type="text" class="form-control" th:id="prepTime" th:name="prepTime" th:value="${recipe.prepTime}"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('*')} and ${#fields.hasErrors('prepTime')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('prepTime')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors()} and ${#fields.hasErrors('cookTime')} ? 'col-md-3 form-group alert-warning' : 'col-md-3 form-group'">
                                    <label>CookTime:</label>
                                    <!--th:field="*{cookTime}"-->
                                    <input type="text" class="form-control" th:id="cookTime" th:name="cookTime" th:value="${recipe.cookTime}"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('*')} and ${#fields.hasErrors('cookTime')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('cookTime')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Difficulty:</label>
                                    <!--th:field="*{difficulty}"-->
                                    <select class="form-control" th:id="difficulty" th:name="difficulty" th:value="${recipe.difficulty}">
                                            <option th:each="difficultyValue : ${T(guru.springframework.domain.Difficulty).values()}"
                                                    th:value="${difficultyValue.name()}"
                                                    th:text="${difficultyValue.name()}">val</option>
                                    </select>
                                    <select class="form-control" th:remove="all">
                                        <option>Easy</option>
                                        <option>Medium</option>
                                        <option>Hard</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors()} and ${#fields.hasErrors('servings')} ? 'col-md-3 form-group alert-warning' : 'col-md-3 form-group'">
                                    <label>Servings:</label>
                                    <!--th:field="*{servings}"-->
                                    <input type="text" class="form-control" th:id="servings" th:name="servings" th:value="${recipe.servings}">
                                    <span class="help-block" th:if="${#fields.hasErrors('*')} and ${#fields.errors('servings')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('servings')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Source:</label>
                                    <!--th:field="*{source}"-->
                                    <input type="text" class="form-control" th:id="source" th:name="source" th:value="${recipe.source}"/>
                                </div>
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors()} and ${#fields.hasErrors('url')} ? 'col-md-3 form-group alert-warning' : 'col-md-3 form-group'">
                                    <label>URL:</label>
                                    <!--th:field="*{url}"-->
                                    <input type="text" class="form-control" th:id="url" th:name="url" th:value="${recipe.url}"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('*')} and ${#fields.errors('url')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('url')}" th:text="${err}"/>
                                        </ul>
                                </div>
                            </div>
                        </dvi>
                    </div>
                    <div class="card card-primary card-inverse">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-10">
                                    <h1 class="panel-title">Ingredients</h1>
                                </div>
                                <div class="col-md-2">
                                    <a th:if="${recipe.id != null}" class="btn btn-primary" href="#" th:href="@{'/recipe/' + ${recipe.id} + '/ingredients'}" role="button">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- jpa rebind ingredient after post operation -->
                                <ul th:if="${not #lists.isEmpty(recipe.ingredients)}">
                                    <li th:remove="all">1 Cup of mile</li>
                                    <li th:remove="all">1 Teaspoon of chocolate</li>
                                    <li th:each="ingredient : ${recipe.ingredients}" th:text="${(ingredient.getAmount() +
                                        ' ' + ingredient.uom.description +
                                        ' - ' + ingredient.getDescription()) }">1 Teaspoon of sugar</li>
                                </ul>
                                <!-- Rebind the field for mongo db manually -->
                                <div th:each="ingredientEach, idx : ${recipe.ingredients}">
                                    <!--th:field="*{ingredients[__${idx.index}__].id}"-->
                                    <input type="hidden" th:id="ingredients__${idx.index}__.id" th:name="ingredients[__${idx.index}__].id" th:value="${recipe.ingredients[__${idx.index}__].id}"/>
                                    <!--th:field="*{ingredients[__${idx.index}__].description}"-->
                                    <input type="hidden" th:id="ingredients__${idx.index}__.description" th:name="ingredients[__${idx.index}__].description" th:value="${recipe.ingredients[__${idx.index}__].description}"/>
                                    <!--th:field="*{ingredients[__${idx.index}__].amount}"-->
                                    <input type="hidden" th:id="ingredients__${idx.index}__.amount" th:name="ingredients[__${idx.index}__].amount" th:value="${recipe.ingredients[__${idx.index}__].amount}" />
                                    <!--th:field="*{ingredients[__${idx.index}__].uom.id}"-->
                                    <input type="hidden" th:id="ingredients__${idx.index}__.uom.id" th:name="ingredients[__${idx.index}__].uom.id" th:value="${recipe.ingredients[__${idx.index}__].uom.id}" />
                                </div>
                                <div th:each="catEach, idx : ${recipe.categories}">
                                    <!--th:field="*{categories[__${idx.index}__].id}"-->
                                    <input type="hidden" th:id="categories__${idx.index}__.id" th:name="categories[__${idx.index}__].id" th:value="${recipe.categories[__${idx.index}__].id}"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card card-primary card-inverse">
                        <div class="card-header">
                            <h1 class="card-title">Directions</h1>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 form-group" th:class="${#fields.hasErrors()} and ${#fields.hasErrors('directions')} ? 'col-md-12 form-group alert-warning' : 'col-md-12 form-group'">
                                    <!--th:field="*{directions}"-->
                                    <textarea class="form-control" rows="3" th:id="directions" th:name="directions" th:text="${recipe.directions}"></textarea>
                                    <span class="help-block" th:if="${#fields.hasErrors('*')} and ${#fields.errors('directions')}"
                                        <ul>
                                            <li th:each="err : ${#fields.errors('directions')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-primary card-inverse">
                        <div class="card-header">
                            <h1 class="card-title">Notes</h1>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <input type="hidden" th:id="notes.id" th:name="notes.id" th:value="*{notes.id}"/>
                                    <!--th:field="*{notes.recipeNotes}"-->
                                    <textarea class="form-control" rows="3" th:id="notes.recipeNotes" th:name="notes.recipeNotes" th:value="*{notes.recipeNotes}" th:text="*{notes.recipeNotes}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>