<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Ingredient</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"></script>

</head>
<body>
<!--/*@thymesVar id="ingredient" type="guru.springframework.commands.IngredientCommand"*/-->
<!--/*@thymesVar id="uomList" type="java.util.List<guru.springframework.commands.UnitOfMeasureCommand>"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form th:object="${ingredient}" th:action="@{'/recipe/' + ${ingredient.getRecipeId()} + '/ingredient'}" method="post">
                <!--th:field="*{id}"-->
                <div th:if="${#fields.hasErrors()}" class="alert alert-danger">
                    <p>Please Correct Errors Below</p>
                </div>
                <input type="hidden" th:id="id" th:name="id" th:value="*{id}"/>
                <input type="hidden" th:id="recipeId" th:name="recipeId" th:value="*{recipeId}"/>
                <div class="card card-primary card-inverse">
                    <div class="card-header">
                        <h1 class="card-title">Edit Ingredient Information</h1>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 form-group" th:class="${#fields.hasErrors()} and ${#fields.hasErrors('description')}
                                ? 'col-md-3 form-group alert-warning' : 'col-md-3 form-group'">
                                <label>Description:</label>
                                <!--th:field="*{description}"-->
                                <input type="text" class="form-control" th:id="description" th:name="description" th:value="*{description}" />
                                <span class="help-block" th:if="${#fields.hasErrors()} and ${#fields.hasErrors('description')}">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('description')}" th:text="${err}"/>
                                    </ul>
                                </span>
                            </div>
                            <div class="col-md-3 form-group" th:class="${#fields.hasErrors()} and ${#fields.hasErrors('amount')}
                                ? 'col-md-3 form-group alert-warning' : 'col-md-3 form-group'">
                                <label>Amount:</label>
                                <!--th:field="*{amount}"-->
                                <input type="number" class="form-control" th:id="amount" th:name="amount" th:value="*{amount}"/>-
                                <span class="help-block" th:if="${#fields.hasErrors()} and ${#fields.hasErrors('amount')}">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('amount')}" th:text="${err}"/>
                                    </ul>
                                </span>
                            </div>

                            <div class="col-md-3 form-group">
                                <label>UOM:</label>
                                <select class="form-control" th:id="uom.id" th:name="uom.id">
                                    <option th:each="uomEach : ${uomList}"
                                            th:value="${uomEach.id}"
                                            th:selected="${uomEach.id.equals(ingredient.uom.id)}"
                                            th:text="${uomEach.description}">Each</option>
                                </select>
                                <input type="hidden" th:id="uom.description" th:name="uom.description" th:value="*{uom.description}" />
                            </div>
                        </div>
                    </div>

                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>